html {
    font-size: 62.5%;
}

html, body {
margin: 0;
padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}

.wrapper {
    max-width: 100%;
    height: 100vh;
}

.heroBanner {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/background.jpg);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 7rem;
}

.description {
    font-size: 3rem;
}

form.mainSubmission {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section {
    display: flex;
    justify-content: space-around;
}

section label, section input, section select {
    font-size: 2.2rem;
}

.mainSubmission input[type="submit"] {
    align-self: center;
    margin-top: 50px;
    padding: 10px 15px;
    border: 5px solid #FFF;
    box-shadow: 0 5px 10px 0;
    background: #FFF;
    color: #000;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}

.searchResults {
    background: #009CDE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    margin: 0;
    font-size: 4rem;
}

.resultsHeading {
    display: flex;
    justify-content: center;
    background: #2B1F3A;
    font-size: 2.5rem;
    padding: 10px 0;
}

/* form.secondarySubmission {
    width: 100%;
    display: flex;
    justify-content: space-around;
} */

.container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.container a {
    display: none;  
}

.attraction {
    width: 22%;
    border: 1px solid #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
}

.attraction:hover {
    background: #FFF;
    color: #009CDE;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

.date {
    font-size: 2rem;
}

.genre {
    font-size: 2rem;
    flex-grow: 2;
}

a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #FFF;
    /* border: 5px solid #FFF; */
    padding: 10px 20px;
    align-self: center;
}

@media (max-width: 1600px) {
    /* .resultsHeading {
        padding: 10px 0;
    } */
    /* h3 {
        font-size: 4rem;
    } */
}

@media (max-width: 1400px) {
    /* h3 {
        font-size: 3.8rem;
    } */
    h2 {
        font-size: 2.4rem;
    }
    .genre {
        font-size: 1.8rem;
    }
    a {
        font-size: 2rem;
    }
}

@media (max-width: 1050px) {
    
    
}

@media (max-width: 975px) {
    h1 {
        font-size: 5rem;
    }
    .description {
        font-size: 2.4rem;
    }
    
}

@media (max-width: 875px) {
    h2 {
        font-size: 2rem;
    }
    .date {
        font-size: 1.7rem;
    }
    .genre {
        font-size: 1.7rem;
    }
}

@media (max-width: 706px) {
    .description {
        font-size: 2rem;
    }
    section label {
        font-size: 1.9rem;
    }
    .mainSubmission input[type="submit"] {
        font-size: 1.9rem;
    }
}

@media (max-width: 670px) {
    section {
        flex-direction: column;
    }
    .cityInput, .dateInput, .categoryInput {
        margin-top: 10px;
    }
    .searchResults {
        height: auto;
    }
    .attraction {
        width: 30%;
    }
    
}

@media (max-width: 537px) {
    h2 {
        font-size: 1.8rem;
    }
    .date {
        font-size: 1.6rem;
    }
    .genre {
        font-size: 1.6rem;
    }
    a {
        font-size: 1.8rem;
    }
}

@media (max-width: 430px) {
    section label {
        font-size: 1.7rem;
    }
}

@media (max-width: 376px) {
    .container {
        justify-content: flex-start;

    }
    .attraction {
        width: 100%;
        margin: 3px;
    }
}